
<section class="sec sec03" data-aos="fade-up"
  data-aos-duration="2000">
    <div class="toppage_text">{{ section.settings.toppage_text }}</div>
    <div class="popular_product flex">
        <!-- コレクションの中の商品を取ってくるために、変数を作る -->
        {% assign product = all_products[section.settings.toppage_product] %}
        <img src="{{ product.featured_image.src | img_url: '3000x' }}" alt="" class="img">
          <div class="product__detail">
        <div class="product__detail__main">
          <h2><span> {{ produc.title }} </span></h2>
          <p class="price"> {{ product.price | money }} </p>
        </div>
        <div class="product__detail__text">
          <p> {{ product.content }} </p>
        </div>
        <div>
          <a href="{{ product.url }} " class="link__detail">詳細を見る</a>
        </div>

        <!-- form＝データ送信、 method=情報の送り方（postで中身の情報を送る）action=データの送信先 enctype="multipart/form-data"は、ファイル名の情報を送信する  -->
        <form method="post" action="/cart/add" enctype="multipart/form-data" > <!-- /car/add はshopifyがデフォルトで商品を追加するコードになってる -->
            <div class="qtydiv counter">
                <div class="qtybox">
                    <span class="btnqty qtyminus icon icon-minus" ><i class="fas fa-minus"></i></span>
                    <!-- inputタグは、いろんな種類の入力欄を作るためのタグ。typeで種類を選ぶ -->
                    <span><input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector quantity-input" readonly="" ></span>
                    <span class="btnqty qtyplus icon icon-plus" ><i class="fas fa-plus"></i></span>
                </div>
            </div>
            <!--  {{ product.variants.first.id }}は、一つ一つの商品のIDを呼び出したいから、first.idを記述 -->
            <input type="hidden" name="id" value= {{ product.variants.first.id }}>
            <!--  product.selected_or_first_available_variantで、 -->
            {% assign current_variant = product.selected_or_first_available_variant %}
            <!-- variant.inventory_quantityは、バリアントの在庫数を返す -->
            {% if current_variant.inventory_quantity > 0 %}
              <button href="#" class="Btn02 bgleft02">
                <span>カートに追加する</span>
              </button>
              <!-- 現在の残り在庫数が10個以下なら -->
            {% if current_variant.inventory_quantity < 10 %}
                <span style="color: red;" > 残り在庫は{{ current_variant.inventory_quantity }}個です </span>
            {% endif %}
                {% else %}
              <div class="Btn02"><span>在庫なし</span></div>
            {% endif %}
            </div>
         </form>

      {% comment %} <img src="img/new/product-3.webp" alt="" class="img">
      <div class="product__detail">
        <div class="product__detail__main">
          <h2><span>生ガトーショコラ</span></h2>
          <p class="price">¥2,700</p>
        </div>
        <div class="product__detail__text">
          <p>チョコレートをたっぷり使用し、小麦粉不使用でチョコレート・バター・卵のみでリッチに仕上げました。カカオニブとレアに焼き上げたガトーショコラの食感が絶妙。外はさっくり、中はとろりレアに。</p>
          <p>
            当店のロングセラーの逸品。<br>
            お手土産や贈り物にも喜ばれます。
          </p>
          <a href="#">美味しい秘密はこちらから！</a>
          <p>
            ※以下の期間熨斗の対応をお断りさせていただいております。何卒ご了承頂きますようお願い申し上げます。<br>中止期間：2022年1月10日〜3月14日ご注文分
          </p>
          <p>
            ※ 住所不備、物流の状況、道路状況、天候、その他の事由によりご希望の到着日に沿いかねる場合がございます。余裕をもったご到着日のご指定をお勧めしております。
          </p>
        </div>
        <div class="counter">
          <span><i class="fas fa-minus"></i></span>
          <span>1</span>
          <span><i class="fas fa-plus"></i></span>
        </div>
        <button href="#" class="Btn02 bgleft02">
          <span>カートに追加する</span>
        </button>
        <a href="/product.html" class="link__detail">詳細を見る</a>
      </div> {% endcomment %}
    </div>
  </section>


  <style>
    .toppage_text{
        {% if section.settings.bold-text %}
            font-weight : bold;
        {% endif %}
        font-size: {{ section.settings.toppage_font_size }}px;
        text-align: center;
        margin-bottom: 20px;
    }
    @media screen and (max-width:480px){
        .toppage_text{
            font-size: 20px;
            margin: 0 auto 0;
            padding: 20px;
        }
    }

  </style>


{% schema %}
{
     "name": "トップページの商品",
     "settings": [
      {
          "type": "product",
          "id": "toppage_product",
          "label": "商品を選択する"
      },
      {
          "type": "text",
          "id": "toppage_text",
          "default": "土曜限定販売の大人気商品",
          "label": "タイトル"
      },
      {
          "type": "checkbox",
          "id": "bold-text",
          "default": false,
          "label": "太文字"
      },
      {
          "type": "range",
          "id": "toppage_font_size",
          "min": 16,
          "max": 40,
          "step": 2,
          "unit": "px",
          "label": "文字の大きさ",
          "default": 18
      }
    ]
}
{% endschema %}