<section
  class="2022_new_collection sec"
  data-aos="fade-up"
  data-aos-duration="2000"
>
  <div class="toppage_text">{{ section.settings.toppage_text }}</div>
  <div class="collection-wrap flex">
    <!-- コレクションの中の商品を取ってくるために、変数を作る -->
    {% assign collection = collections[section.settings.toppage_collection] %}
    {% assign discount = product_card_product.compare_at_price | minus: product_card_product.price %}
    <!-- （元の金額 ー セール価格）÷ 元の金額 x １００ -->
    {% assign discountrate = discount | times: 100.0 | divided_by: product_card_product.compare_at_price %}
    <!-- paginateは、for文の表示個数を制限してくれる（ここでは３つの商品） -->
    {% paginate collection.products by 4 %}
      {% for product in collection.products %}
        <a href="{{ product.url }}" class="product_card product_flex">
            <div class="product__image">
              <img
                src="{{ product.images.last | img_url: '450x450' }}"
                alt="{{ product.images.last.alt | escape }}"
              >
              <img
                src="{{ product.featured_image.src | img_url: '450x450' }}"
                alt="{{ featured.featured_image.alt | escape }}"
              >
            </div>
            {% comment %} <img src="{{ product.featured_image.src | img_url: '3000x' }}" alt=""> {% endcomment %}
            <div class="product__disc">
                <h3>{{ product.title }}</h3>
                <span class="price price__box">
                  {% if product.compare_at_price > product.price and product.available %}
                    <span class="price__original">{{ product.price | money }}</span>
                    <span class="prie__compare"> {{ product.compare_at_price | money }} </span>
                  {% else %}
                    <span class="price__original">{{ product.price | money }}</span>
                  {% endif %}

                  <!-- *** 割引 *** -->
                  <!-- 割引金額 -->
                  {% assign discount = product.compare_at_price | minus: product.price %}
                  <!-- 割引率(（元の金額 ー セール価格）÷ 元の金額 x １００) -->
                  {% assign discountrate = discount | times: 100.0 | divided_by: product.compare_at_price %}
                  {% assign show_discount = section.settings.show_discount %}

                  {% if product.compare_at_price > product.price and product.available %}
                    <p class="discountrate">
                      {% if show_discount == 'yen' %}
                        <span class="dicountrate__customize">{{ discount | money }} OFF</span>
                      {% elsif show_discount == 'percent' %}
                        <span class="dicountrate__customize">{{ discountrate | round }}%OFF</span>
                      {% endif %}
                    </p>
                  {%- endif -%}
                </span>
            </div>
            <p class="Btn bgleft"><span>詳細を見る</span></p>
        </a>
      {% endfor %}
    {% endpaginate %}
  </div>
  <a href=" {{ collection.url }} " class="Btn02 bgleft02"><span>もっと見る</span></a>
</section>

<style>
  .toppage_text{
      {% if section.settings.bold-text %}
          font-weight : bold;
      {% endif %}
      font-size: {{ section.settings.toppage_font_size }}px;
      text-align: center;
      margin-bottom: 20px;
  }
  @media screen and (max-width:480px){
      .toppage_text{
          font-size: 20px;
          margin: 0 auto 0;
          padding: 20px;
      }
  }

  .prie__compare{
    text-decoration: line-through;
    color: #CCCCCC;
  }

  .dicountrate__customize {
    color: {{ section.settings.color_discount }};
    background-color: {{ section.settings.color_discountnk }};
    font-size: 1.0vw;
    border-radius: 50px;
    padding: 5px;
  }

  .product_flex{
    display: flex!important;
    flex-direction: column!important;
  }

  .product__disc{
    flex-grow: 1;
    margin-bottom: 40px;
  }

</style>

{% schema %}
{
  "name": "トップページコレクション",
  "settings": [
    {
      "type": "text",
      "id": "toppage_text",
      "default": "2022 NEW COLLECTION ",
      "label": "タイトル"
    },
    {
      "type": "checkbox",
      "id": "bold-text",
      "default": false,
      "label": "太文字"
    },
    {
      "type": "range",
      "id": "toppage_font_size",
      "min": 16,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "文字の大きさ",
      "default": 18
    },
    {
      "type": "collection",
      "id": "toppage_collection",
      "label": "トップページコレクション"
    },
    {
      "type": "select",
      "id": "show_discount",
      "options": [
        {
          "value": "yen",
          "label": "通貨(〇〇 OFF)"
        },
        {
          "value": "percent",
          "label": "パーセント（●％ OFF）"
        },
        {
          "value": "none",
          "label": "非表示"
        }
      ],
      "default": "yen",
      "label": "ディスカウント"
    },
    {
      "type": "color",
      "id": "color_discountnk",
      "label": "ディスカウントバッジ背景カラー",
      "default": "#ddbe87"
    },
    {
      "type": "color",
      "id": "color_discount",
      "label": "ディスカウントバッジ文字カラー",
      "default": "#000"
    }
  ]
}
{% endschema %}
