<main class="product">
  <section class="sec sec03">
    <div class="popular_product flex">
      <div class="product__post">
        <div class="ProductImage">
          <ul class="gallery">
            {% for image in product.images %}
              <li><img src="{{ image.src | product_img_url: 'large' }}"></li>
            {% endfor %}
            {% comment %}
               {% for image in product.images %}
              <li><img src="{{ product.image.src | img_url: 'large' }}" alt=""></li>
              {% endfor %}
            {% endcomment %}
          </ul>

          <ul class="choice-btn flex slideItemImage">
            {% for image in product.images %}
              <li>
                <img src="{{ image.src | product_img_url: 'large' }}">
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="product__detail">
        <div class="product__detail__stickey">
          <div class="product__detail__main">
            <p class="maison">{{ product.vendor }}</p>
            <h2>{{ product.title }}</h2>
            <p class="price">{{ product.price | money }}</p>
          </div>
          <div class="product__detail__text">
            <p>{{ product.content }}</p>
          </div>

          <div class="share ">
            <p class="mini">シェア</p>
            <div class=" flex">
              <a href="https://twitter.com/">
                <img src="{{ 'twitter.jpg' | asset_img_url: 'small' }}" alt="" class="sns-img">
              </a>
              <a href="https://www.facebook.com/">
                <img src="{{ 'facebook.jpg' | asset_img_url: 'small' }}" alt="" class="sns-img">
              </a>
              <a href="https://www.instagram.com/"
                ><img src="{{ 'instagram.jpg' | asset_img_url: 'small' }}" alt="" class="sns-img">
              </a>
            </div>
          </div>

          <!-- テスト（メタフィールド） -->
          {% comment %}
            {%- if product.metafields.custom.special_image != blank -%}
              <div>
                <img src="{{ product.metafields.custom.special_image | img_url: '250x' }}">
              </div>
            {%- endif -%}
          {% endcomment %}

          <!--
            form＝データ送信、 method=情報の送り方（postで中身の情報を送る）action=データの送信先 enctype="multipart/form-data"は、ファイル名の情報を送信する
          -->
          <form method="post" action="/cart/add" enctype="multipart/form-data" class="product__wrap">
            {% if product.variants != blank %}
              <!-- /car/add はshopifyがデフォルトで商品を追加するコードになってる -->
              <label for="#"> サイズ </label>
              <select name="" id="">
                {% for variant in product.variants %}
                  <option value=" {{ variant.id }} ">{{ variant.title }}</option>
                {% endfor %}
              </select>
            {% endif %}
            <div class="qtydiv counter">
              <div class="qtybox">
                <span class="btnqty qtyminus icon icon-minus"><i class="fas fa-minus"></i></span>
                <!-- inputタグは、いろんな種類の入力欄を作るためのタグ。typeで種類を選ぶ -->
                <span
                  ><input
                    type="text"
                    id="quantity"
                    name="quantity"
                    value="1"
                    min="1"
                    class="quantity-selector quantity-input"
                    readonly=""
                ></span>
                <span class="btnqty qtyplus icon icon-plus"><i class="fas fa-plus"></i></span>
              </div>
            </div>

            <!-- {{ product.variants.first.id }}は、一つ一つの商品のIDを呼び出したいから、first.idを記述 -->
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <!-- product.selected_or_first_available_variantで、 -->
            {% assign current_variant = product.selected_or_first_available_variant %}
            <!-- variant.inventory_quantityは、バリアントの在庫数を返す -->
            {% if current_variant.inventory_quantity > 0 %}
              <button href="#" class="Btn02 bgleft02">
                <span>カートに追加する</span>
              </button>
              <!-- 現在の残り在庫数が10個以下なら -->
              {% if current_variant.inventory_quantity < 10 %}
                <span style="color: red;"> 残り在庫は{{ current_variant.inventory_quantity }}個です </span>
              {% endif %}
            {% else %}
              <div class="Btn02"><span>在庫なし</span></div>
            {% endif %}
            <p class="alert">
              あと<span>7時間0分</span>以内のご注文確定で{{ 'today' | date: '%m月%d日' }}〜
              {{- 'today' | date: '%s' | plus: 86400 | date: '%m月%d日' -}}
              の間に商品を受け取る
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- もし商品のメタフィールドにものがあったら、表示させる -->

  {% if product.metafields.item.related != blank %}
    {% section 'product-related-items' %}
  {% endif %}

  {% section 'custom-collection' %}
  <!-- 商品一覧の読み込み -->
  {% section 'custom-collection-list' %}
  <!-- セクション一覧の読み込み -->
</main>

<style>
  .sns-img {
    width: 30px !important;
    height: 30px !important;
  }
  .sns-img:nth-child(n + 1) {
    margin-right: 10px;
  }
  .mini {
    font-size: 16px;
  }

  .product .sec03 {
    margin-top: 100px !important;
    margin-bottom: 50px !important;
  }
</style>
